.choHanResult {
	text-align: center;
	font-size: 3rem;
	margin-top: 10vh;
	margin-bottom: 1vh;
}
.choHanWinOrLose {
	text-align: center;
	font-size: 1.2rem;
	height: 3vh;
	margin-bottom: 5vh;
	color: red;
}
.choHanCenter {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}
.choHanDice {
	width: 200px;
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.choHanTotal {
	width: 2vw;
	text-align: center;
}
.choHanChoice {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin-top: 10%;
}
.choHanChoiceButton {
	background-color: #121212;
	color: white;
	border-radius: 15px;
	text-align: center;
	height: 50px;
	width: 100px;
}
.choHanChoiceButton:hover {
	color: white;
	background-color: #444444;
}
